.top
{
    width: 100%;
    top: 50px;
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    font-family: 'Josefin Sans', serif;
}

.topLeft, .topRight
{
    flex: 3;
}

.topMiddle
{
    flex: 6;
}

.icon
{
    font-size: 20px;
    margin-right: 10px;
    color: lightslategrey; 
    cursor: pointer;
}

.topImage
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topListContainer
{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem
{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon
{
    font-size: 20px;
    margin-left: 10px;
    color: lightslategrey; 
    cursor: pointer;
}